/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* Import the Poppins font */

.btn-shine {
  @apply relative inline-block px-12 py-3 text-white font-semibold text-16 no-underline whitespace-nowrap;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
} */
